.LandingSection{
    height:100vh;
    margin:2% 6%;
}

.MainSection{
    margin:0 auto;
    width:90%;
    height: 100vh;
    padding-bottom: 20%;
    box-sizing: border-box;
    position: relative;
}

.UpperSection{
    display: flex;
}

.CheckboxSection{
    padding-top: 10%;
    position: absolute;
    top: 300px;
    left: 0;
}

.LandingImage{
    width:60%;
}

@media(max-width:560px){
    .UpperSection{
        flex-direction: column;
    }

    .CheckboxSection{
        padding-top: 10%;
        position: absolute;
        top: 1100px;
        left: 0;
    }

    .LandingImage{
        padding-top: 50px;
        width:50%;
    }
}